<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="testngscenario">
        <classes>
            <class name="com.metlife.App"/>
            <!--<class name="com.metlife.AutoITDemo"/>
            <class name="com.metlife.ExcelAsposeDemo"/>
            <class name="com.metlife.PDFTableDemo"/>
            <class name="com.metlife.Selenium4Feature"/>-->

        </classes>
    </test>
</suite>